@tailwind base;
@tailwind components;
@tailwind utilities;

/* global */

:root {
  --teal: #183D3D;
  --green: #A7D397;
  --gray: #F4F4F4;
  --yellow: #FFA600;
}


/* custom classes */

.show {
  @apply opacity-100 visible;
}
.hide {
  @apply opacity-0 invisible;
}
